name: Format check

on:
  pull_request:
  workflow_dispatch:

jobs:
  fmt-check:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      - uses: terraform-linters/setup-tflint@v4
      - run: make fmt-check
