name: Update Terraform documentation

on:
    pull_request:
    push:
        branches:
            - main
        
    workflow_dispatch:

jobs:
    terraform-docs:
        name: Update Terraform documentation

        uses: canonical/operator-workflows/.github/workflows/generate_terraform_docs.yaml@main
        secrets: inherit
        with:
            terraform-directory: modules/landscape-scalable
